In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv("KQL-PBI-UserActivity.csv")

In [12]:
refresh_history_df = pd.read_csv("clean_rawhistory.csv")

In [ ]:
df.head()

In [10]:


usage_rank = df.groupby('DataModelName').agg(
    total_views=('UserId', 'count')  
).reset_index()

usage_rank = usage_rank.sort_values(by='total_views', ascending=False)


usage_rank['rank'] = range(1, len(usage_rank) + 1)


print(usage_rank.head(10))

                  DataModelName  total_views  rank
138        Usage Metrics Report         2184     1
33             Bookings Dataset         1819     2
70           MBO Points Summary         1346     3
131          T3 Sales Dashboard         1323     4
110  Regional Reporting Package          937     5
143          Utilization Report          917     6
35   Bookings Dataset BU NO RLS          889     7
14                    2025 OKRs          742     8
49               GL Transaction          540     9
147           Weekly Activities          529    10

In [19]:
quantiles = usage_rank['total_views'].quantile([0.33, 0.66]).values

def importance_level(views):
    if views >= quantiles[1]:
        return 'High'
    elif views >= quantiles[0]:
        return 'Medium'
    else:
        return 'Low'

usage_rank['importance_level'] = usage_rank['total_views'].apply(importance_level)

In [21]:
usage_rank.head(10)

                  DataModelName  total_views  rank importance_level
138        Usage Metrics Report         2184     1             High
33             Bookings Dataset         1819     2             High
70           MBO Points Summary         1346     3             High
131          T3 Sales Dashboard         1323     4             High
110  Regional Reporting Package          937     5             High
143          Utilization Report          917     6             High
35   Bookings Dataset BU NO RLS          889     7             High
14                    2025 OKRs          742     8             High
49               GL Transaction          540     9             High
147           Weekly Activities          529    10             High